## Introduction to Tables

### What is a Table?

A table is an object in Python that allows you to store data. It is a collection of rows and columns. Each row corresponds to one entry in the table and each column corresponds to a particular aspect you have data about. For example, say you have a table with information about 10 college students. It would have one row for each student and one column for each aspect of the students (e.g. name, major, year in college, etc.).

### Table Functions

You can create and edit tables using functions. One type of functions we can use on tables are called table methods. We use table methods in a specific format: table_name.method_name(any arguments). We'll look at plenty of examples of table methods below!

#### How to Create Tables

Let's look at how to create tables. First, we have to import the `datascience` module using the following import statement:

In [1]:
from datascience import *

A module is a collection of functions. We have to import modules using an import statement to use the functions they contain. We want to use the table functions in the `datascience` module, so we're importing it. The above statement is basically saying: from the `datascience` module, import all functions (which is what the * means).

Next, we can create an empty table using the `Table()` function:

In [4]:
new_table = Table()

Here, we created a new variable called `new_table`, which is assigned to an empty table. Because it's an empty table, nothing shows up when we display it:

In [5]:
new_table

Now, let's add some data to this table. We can do this by creating the columns we want the table to have, then adding those columns to the table.

Each column is a collection of values of the same type. So, we can use the `make_array` function to create columns.

In [7]:
cafe_names = make_array("Peet's", "Romeo's", "Milano", "Strada")
cafe_prices = make_array(4, 5, 6.5, 3)

Above, we created two columns: one for the names of different cafes in Berkeley and one for the prices of their coffee (note that the prices are made-up). Now, let's add these columns to the table using the `.with_columns` method:

In [9]:
new_table = new_table.with_columns("Cafe Names", cafe_names,
                                  "Cafe Prices", cafe_prices)

The first argument in the `.with_columns` method is the name of your column â€“ make sure to enclose this name within single or double quotes. The second argument is the array with the values for this column.

If we look at `new_table` now, we'll see that two new columns are added to it:

In [10]:
new_table

Cafe Names | Cafe Prices
Peet's     | 4
Romeo's    | 5
Milano     | 6.5
Strada     | 3

This is a good resource for learning about tables:
- https://inferentialthinking.com/chapters/06/Tables.html

---